# import

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
# 구글드라이브
from google.colab import drive

# 데이터 프레임 및 연속형 자료 연산 라이브러리
import pandas as pd
import numpy as np

#시각화 라이븐러리
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [ ]:
# # 그래프에 한글 폰트 설정
# plt.rcParams['font.family']='Nanum Gothic'

# # 그래프에 마이너스 기호 깨지는 문제 해결
# plt.rcParams['axes.unicode_minus']=False

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumGothic')

# 데이터 불러오기

In [ ]:
#구글드라이브 읽어오기
drive.mount('/content/drive')

## 인구데이터

In [ ]:
#xlsx파일 읽기기
people=pd.read_excel('/content/drive/MyDrive/4차/월별지역별인구수.xlsx')

In [ ]:
people

## POS

In [ ]:
pos=pd.read_csv('/content/drive/MyDrive/4차/20190509_mask_POS.csv')

In [ ]:
pos.columns

In [ ]:
pos

In [ ]:
# 고객=유통사임을 확인
pos2=pos[pos['CUSTOMER NAME'] == pos['유통사']]
pos2

In [ ]:
pos.isnull().sum()

## 유통사별 판매량, 판매액 확인

### Sales(Bag),가격 사용

In [ ]:
pos3=pos[['CUSTOMER NAME','Sales (Bag)', '가격']]
pos3

In [ ]:
group=pos3.groupby('CUSTOMER NAME', as_index=False)[['Sales (Bag)', '가격']].sum().sort_values(by=['가격'], ascending=False)
group

In [ ]:
data=pos3.groupby('CUSTOMER NAME', as_index=False)[['Sales (Bag)', '가격']].sum().sort_values(by=['Sales (Bag)'], ascending=False)
data

In [ ]:
check=pos3[pos3['가격']==0]
check

### 세로 바그래프를 사용하여 유통사별 표시

In [ ]:
plt.figure(figsize = (20, 5))
p=sns.barplot(data=data, x='Sales (Bag)',y='CUSTOMER NAME')
p.set_title('유통사별 판매량')

In [ ]:
plt.figure(figsize = (20, 5))
p2=sns.barplot(data=group, x='가격',y='CUSTOMER NAME')
p2.set_title('유통사별 판매액')

# 전처리 df데이터

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/4차/df_dust_date_all.csv', encoding='cp949')

In [ ]:
df

In [ ]:
group2=df.groupby('측정일시', as_index=False)[['SO2', 'CO', 'NO2', 'PM10', 'PM25']]

In [ ]:
df.describe()

In [ ]:
group2.describe()

In [ ]:
sns.scatterplot(data=df, x='SO2', y='PM10')